Brumas/Banco_LasBrumas/Banco_LasBrumas/Connected Services/ServiceReference3/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="transaccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="origin_account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destiny_account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="detalle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monto" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="transaccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transaccionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>