Brumas/Banco_LasBrumas/Banco_LasBrumas/Connected Services/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="consulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero_servicio" type="xs:int" />
        <xs:element minOccurs="0" name="proveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="proveedor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="factura" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pagoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>